body {
  height: 100vh;
  font-family: sans-serif;
}

aside.EmojiPickerReact.epr-main {
  position: absolute !important;
  z-index: 10 !important;
}

.rdt_Table {
  height: 100vh;
}

.heading {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

.container {
  margin: 100px auto;
  width: 90rem;
}

.rdt_TableHead {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.rdt_TableCell {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.main_btn {
  border: 1px solid dodgerblue;
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  background-color: white;
  color: dodgerblue;
  border-radius: 0.25rem;
  cursor: pointer;
}

.main_btn:hover {
  color: white;
  background-color: dodgerblue;
  border-radius: 0.25rem;
}

.input {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  width: 100%;
}

.input:focus {
  outline: 0;
}
